.confirm-booking {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-summary {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  min-width: 75%;
  text-align: center;
}

.order-summary .item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total {
  font-weight: bold;
  margin-top: 20px;
}


